.main-comunidade {
    flex-direction: row-reverse;

}

.box-lista-code {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card_content {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.title-card {
    width: 29.5rem;
    height: 2rem;
    color: #fff;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1.96875rem;
}

.subtitle-card {
    width: 29.5rem;
    height: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.8;
}

.card_actions {
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.components {
    color: #fff;
}

.components i {
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 255, 0.00);
    cursor: pointer;
}